<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Portal</title>
    <link rel="shortcut icon" type="x-icon" href="../../static/images/icon_circle.jpg" />
    <link rel="stylesheet" href="../../static/css/homepage.css" />
  </head>
  <body style="background-image: url(../../static/images/bckimg.jpeg); background-repeat: no-repeat; background-size: cover;">
    <video autoplay loop muted plays-inline class="back-video">
      <source src="" type="video/mp4" />
    </video>

    <img src="../../static/images/My_project.png" id="logo" />
    <div class="container-main">
      <h1 class="container">Student Portal</h1>

      <a href="./register.html" class="btn">Explore</a>
    </div>
  </body>
</html>
