body{
    background-color: aqua;
}

.container {
	opacity: 0;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

h1 {

    font-family: "poppins";
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
}

form input {
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
}

form input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
}

#results {
	margin-top: 20px;
}
